
<html>
	<head>
		<title>Progetto Previtero-Rauseo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!--SO2-->
		<script>
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawBasic);

			function drawBasic() {
				var d_so2 = {{ data_so2|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'SO2');
				data.addRows(d_so2);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{so2}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_so2'));
				chart.draw(data, options);
			}
		</script>
		<!--NO2-->
		<script>
			google.charts.setOnLoadCallback(drawBasic1);

			function drawBasic1() {
				var d_no2 = {{ data_no2|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'NO2');
				data.addRows(d_no2);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{no2}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_no2'));
				chart.draw(data, options);
			}
		</script>
		<!--O3-->
		<script>
			google.charts.setOnLoadCallback(drawBasic1);

			function drawBasic1() {
				var d_o3 = {{ data_o3|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'O3');
				data.addRows(d_o3);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{o3}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_o3'));
				chart.draw(data, options);
			}
		</script>
		<!--CO-->
		<script>
			google.charts.setOnLoadCallback(drawBasic1);

			function drawBasic1() {
				var d_co = {{ data_co|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'CO');
				data.addRows(d_co);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{co}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_co'));
				chart.draw(data, options);
			}
		</script>
		<!--PM10-->
		<script>
			google.charts.setOnLoadCallback(drawBasic2);

			function drawBasic2() {
				var d_pm10 = {{ data_pm10|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'PM10');
				data.addRows(d_pm10);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{pm10}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_pm10'));
				chart.draw(data, options);
			}
		</script>
		<!--PM2.5-->
		<script>
			google.charts.setOnLoadCallback(drawBasic3);

			function drawBasic3() {
				var d_pm25 = {{ data_pm25|safe }};
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'time');
				data.addColumn('number', 'PM2.5');
				data.addRows(d_pm25);
				var options = {
					hAxis: {
					title: 'Time'},
					vAxis: {title: '{{pm25}}'}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div_pm25'));
				chart.draw(data, options);
			}	
		</script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Progetto Previtero-Rauseo</strong></a>
								</header>

							<!-- Content -->
								<section id="content">
									<header class="major">
										<h2>Grafici</h2>
									</header>
									<p>Qui troverete i grafici con i dati aggiornati sulla qualità dell'aria a Seul.</p>
									
									<ul>
										<li>
											<h3>Grafico SO2</h3>
											<div id="chart_div_so2"></div>
											
										</li>
										<li>
											<h3>Grafico NO2</h3>
											<div id="chart_div_no2"></div>
										</li>
										<li>
											<h3>Grafico O3</h3>
											<div id="chart_div_o3"></div>
										</li>
										<li>
											<h3>Grafico CO</h3>
											<div id="chart_div_co"></div>
										</li>
										<li>
											<h3>Grafico PM10</h3>
											<div id="chart_div_pm10"></div>
										</li>
										<li>
											<h3>Grafico PM2.5</h3>
											<div id="chart_div_pm25"></div>
										</li>
									</ul>

								</section>

									

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/grafici">Grafici</a></li>
										<li><a href="/previsioni">Previsioni</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Entra nella città</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="https://www.travel365.it/seul-cosa-vedere.htm" class="image"><img src="../static/images/Visita.png" alt="" /></a>
											<p>Cosa vedere a Seul</p>
										</article>
										<article>
											<a href="https://www.theguardian.com/world/2025/jan/17/seoul-cheonggyecheon-motorway-turned-into-a-stream" class="image"><img src="../static/images/aria.png" alt="" /></a>
											<p>Info sulla qualità dell'aria</p>
										</article>
		
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Contatti</h2>
									</header>
									<ul class="contact">
										<li class="icon solid fa-envelope">289944@studenti.unimore.it<br/>289247@studenti.unimore.it</li>
										<li class="icon solid fa-home">DISMI UniMoRe</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Previtero Anastasia & Rauseo Alice</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>